<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"><i class="fa fa-sticky-note"></i>
                            <span v-if="!editMode">Tambah Laman</span>
                            <span v-if="editMode">Ubah Laman</span>
                            <router-link to="/cms/page" class="btn btn-success btn-sm">Kembali ke daftar</router-link>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Judul</label>
                                                <input v-model="form.title" type="text"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                                                <has-error :form="form" field="title"></has-error>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Slug</label>
                                                <input v-model="form.slug" type="text"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slug') }">
                                                <has-error :form="form" field="slug"></has-error>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control" v-model="form.status">
                                                    <option value="publish">Publish</option>
                                                    <option value="draft">Draft</option>
                                                </select>
                                                <has-error :form="form" field="status"></has-error>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <vue-editor id="editor" useCustomImageHandler @image-added="handleImageAdded" v-model="form.body"></vue-editor>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Foto</label><br>
                                        <input type="file" id="form-image" @change="getImage" :class="{ 'is-invalid': form.errors.has('image') }">
                                        <has-error :form="form" field="image"></has-error>
                                    </div>
                                    <img :src="dataRaw.image_url" width="100%">
                                    <img :src="`/assets/`+form.image" id="data-image" v-show="showThumnail" width="100%">
                                </div>
                                <div class="col-md-12 mt-2 ">
                                    <button v-if='!editMode' class="btn btn-success btn-sm float-right" @click="createData">Simpan</button>
                                    <button v-if='editMode' class="btn btn-success btn-sm float-right" @click="updateData">Perbarui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { VueEditor } from "vue2-editor";
    export default {
        components: { VueEditor },
        data(){
            return {
                base_url: '/admin/pages',
                editMode: false,
                showThumnail: true,
                dataRaw:{
                    image_url:'',
                },
                form: new form({
                    id:'',
                    title: '',
                    slug:'',
                    image:'',
                    body:'',
                    status:'',
                })
            }
        },
        methods:{
            loadDataContent(){
                axios.get(this.base_url+'/'+this.$route.params.id)
                    .then( ({data}) => ( this.form.fill(data)))
            },
            getImage(e){
                let file = e.target.files[0];

                let reader = new FileReader();
                if (file['size'] < 2200000){
                    this.showThumnail = false;
                    reader.onloadend = (file)=>{
                        this.form.image = reader.result;
                    };
                    this.dataRaw.image_url = URL.createObjectURL(file);
                    reader.readAsDataURL(file)
                } else {
                    this.form.image = '';
                    $('#form-image').val('');
                    Swal.fire({
                        icon: 'error',
                        title: 'You upload large file',
                        text: 'Please upload not more than 2MB file',
                    })
                }
            },
            slug(){
                this.form.slug = this.form.title.split(' ').join('-')
            },
            handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
                var formData = new FormData();
                formData.append("image", file);
                axios({
                    url: "/admin/page-image-upload",
                    method: "POST",
                    data: formData
                })
                    .then(result => {
                        let url = result.data.url;
                        Editor.insertEmbed(cursorLocation, "image", url);
                        resetUploader();
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            createData(){
                this.$Progress.start();
                this.form.post(this.base_url)
                    .then((response) => {
                        Fire.$emit('ModalSuccess');
                        this.$router.push('/cms/page')
                    }).catch((error) => {
                    console.log(error)
                });
            },
            updateData(){
                this.$Progress.start();
                this.form.patch(this.base_url+'/'+this.form.id)
                    .then((response) => {
                        Fire.$emit('ModalSuccess');
                        this.$router.push('/cms/page')
                    }).catch((error) => {
                    console.log(error)
                });
            },
        },
        created(){
            this.$Progress.start();
            if(this.$route.params.id !== 'create'){
                this.editMode = true;
                this.loadDataContent();
            }else{
                this.showThumnail = false;
            }

            Fire.$on('ModalSuccess', () => {
                this.globalPopSwal();
                this.$Progress.finish();
            })
        },
        mounted() {
            this.$Progress.finish()
        },
    }
</script>
