<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"><i class="fa fa-align-left"></i> Laman </h1>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">Data Laman</h1>
                            <div class="card-tools">
                                <router-link :to="`/cms/page/edit-add/create`" class="btn btn-success btn-sm">
                                    Baru
                                </router-link>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-head-fixed">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Foto</th>
                                    <th>Judul</th>
                                    <th>Status</th>
                                    <th><span style="float: right">Aksi</span></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="text" v-model="filter.title" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" v-model="filter.status" class="form-control">
                                    </td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd" v-for="(data, i) in dataContent.data" :key="data.id">
                                    <td>{{dataContent.per_page * (dataContent.current_page - 1) + i + 1}} </td>
                                    <td>
                                        <img :src="`/assets/`+data.image" width="100px" alt="">
                                    </td>
                                    <td>{{data.title}}<br><i>{{data.slug}}</i></td>
                                    <td>{{data.status}}</td>
                                    <td class="action-button float-right">
                                        <button class="btn btn-sm btn-danger" @click="deleteData(data.id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <router-link :to="`/cms/page/edit-add/`+data.id" class="btn btn-sm btn-success">
                                            <i class="fa fa-edit"></i>
                                        </router-link>
                                        <router-link :to="`/cms/page/`+data.id" class="btn btn-sm btn-primary">
                                            <i class="fa fa-eye"></i>
                                        </router-link>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" role="status" aria-live="polite">
                                        Menampilkan data {{dataContent.from}} hingga {{dataContent.to}} dari {{dataContent.total}} data.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" style="float: right">
                                        <pagination :data="dataContent" @pagination-change-page="pagination"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: '/admin/pages',
                dataContent: {},
                filter: new form({
                    title: '',
                    page: ''
                })
            }
        },
        methods:{
            loadDataContent(){
                axios.get(this.base_url, {params: this.filter})
                    .then( ({data}) => {
                        this.dataContent = data;
                        this.$Progress.finish();
                    }).catch(()=>{
                        this.$Progress.fail();
                })
            },
            pagination(page = 1) {
                this.$Progress.start();
                this.filter.page = page;
                this.loadDataContent();
            },
            resetData(){
                this.filter.reset();
                this.loadDataContent()
            },
            deleteData(id){
                Swal.fire({
                    title: 'Are you sure to delete this data?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    this.$Progress.start();
                    if (result.value) {
                        this.form.delete(this.base_url+'/' + id).then((response) => {
                            this.loadDataContent();
                            Swal.fire(
                                'Deleted!',
                                'Data has been deleted.',
                                'success'
                            )
                            this.$Progress.finish();
                        }).catch((errror) => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Unauthorized',
                                text: 'You can not delete this data!',
                            });
                            this.$Progress.fail();
                        });
                    }
                })
            },
        },
        created(){
            this.$Progress.start();
            this.loadDataContent();

            Fire.$on('ModalSuccess', () => {
                this.loadDataContent();
                this.globalPopSwal();
                this.$Progress.finish();
            })
        },
        watch:{
            'filter.title':function (){
                this.loadDataContent()
            }
        },
        updated() {
            this.$Progress.finish()
        },
    }
</script>
