<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"><i class="fa fa-paper-plane"></i> Detail Laman Statis
                            <router-link to="/cms/post" class="btn btn-success btn-sm">Kembali ke daftar</router-link>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
<!--                        <div class="card-header">-->
<!--                            <h1 class="card-title">Data Faster</h1>-->
<!--                        </div>-->
                        <div class="card-body table-responsive">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Judul</h6>
                                    <p>{{dataDetail.title}}</p>
                                    <h6>Slug</h6>
                                    <p>{{dataDetail.slug}}</p>
                                    <h6>Gambar</h6>
                                    <p>
                                        <img :src="`/assets/`+dataDetail.image" width="300px" alt="">
                                    </p>
                                    <h6>Isi</h6>
                                    <p v-html="dataDetail.body"></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                dataDetail: {},
            }
        },
        methods:{
            loadDataContent(){
                axios.get('/admin/posts/'+this.$route.params.id)
                    .then( ({data}) => ( this.dataDetail = data))
            },
        },
        created(){
            this.$Progress.start();
            this.loadDataContent();
        },
        mounted() {
            this.$Progress.finish()
        },
    }
</script>
